* text=auto

*.md text eol=lf
*.py text eol=lf
*.xml text eol=lf
*.cfg text eol=lf
*.sh text eol=lf
*.urdf text eol=lf
*.world text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.yaml text eol=lf

*.npy binary
*.pgm binary
*.png binary
